<!doctype html>
<html lang="en" ng-app="stms">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ asset('bundles/stms/css/stms.css') }}>
    <script src="{{ asset('bundles/stms/lib/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/stms/lib/angular/ui-bootstrap-tpls-0.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/stms/js/app.js') }}"></script>
</head>
<body ng-controller="STMSController as stms">

<script type="text/ng-template" id="addDialogContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add new task</h3>
    </div>

    <form name="task_form">
        <input ng-model="newTask.name" class="form-control new-task-field" type="text" placeholder="Task name" title="Task name" />
        <input ng-model="newTask.date" class="form-control new-task-field" type="date" title="Date" />
        <input ng-model="newTask.minutes" class="form-control new-task-field" type="number" placeholder="Task duration (in minutes)" title="Task duration" />
        <input ng-model="newTask.notes" class="form-control new-task-field" type="textarea" rows="3" placeholder="Notes" title="Notes" />
    </form>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submitTask()">Add</button>
        <button class="btn btn-warning" ng-click="cancelTask()">Cancel</button>
    </div>
</script>

<table>
    <th>Task</th>
    <th>Date</th>
    <th>Duration</th>
    <tr ng-repeat="task in tasks">
        <td>{[ task.name ]}</td>
        <td>{[ task.date | date ]}</td>
        <td>{[ task.minutes ]}</td>
        <td><a href="#" ng-click="deleteTask(task)">Delete</a></td>
    </tr>
</table>

<button class="btn btn-default" ng-click="displayAddDialog()">Add Task</button>

</body>
</html>