.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #95d4cc;
    border-radius: 10px;
}

.main-container {
    margin-top: 40px;
    padding: 40px;
}

.head-container {
    margin-top: 60px;
    padding: 10px 20px 20px 50px;
    border-color: #95d4cc;
}

.head-container .title {
    float: left;
}

.head-container .user-account {
    float: right;
    font-size: 16px;
    margin-top: 19px;
}

.head-container .btn {
    margin-left: 10px;
}

.export-btn {
    margin-left: 20px;
}


.modal-dialog {
    width: 500px;
}

.task-form, .settings-form {
    margin: 20px;
}

.task-field {
    width: 75%;
    margin: 5px;
    resize: none;
}

.date-field {
    display: inline-block;
    width: 150px;
    height: 30px;
}

.date-label {
    margin-left: 15px;
}

.task-table td, .task-table th {
    text-align: center;
    border-color: #ccc !important;
}

.task-table td:first-child, .task-table th:first-child {
    text-align: left;
    padding-left: 25px !important;
}

.table-options {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.table-options-left {
    float: left;
}

.table-options-right {
    float: right;
}

.task-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-size: 18px;
}

.task-row-neutral {
    background-color: #fff;
}

.task-row-green {
    background-color: #9af4b0;
}

.task-row-red {
    background-color: #F5A9A9;
}

.task-list {
    text-align: left;
    padding-left: 5% !important;
    border: none !important;
}

.task-options {
    display: inline-block;
    float: right;
}

.task-option {
    margin-right: 15px;
}

.task-notes {
    margin: 20px;
    white-space: pre-line;
}

.list-group {
    margin-top: 10px;
    margin-bottom: 5px;
}

.list-group-item {
    width: 95%;
    padding: 5px 15px;
    font-size: 16px;
}

.task-duration {
    color: #777;
}

.fa-li {
    color: #95d4cc;
    font-size: 20px;
    margin-top: 2px;
}

.login-left-container {
    float: left;
    width: 45%;
}

.login-right-container {
    float: right;
    width: 50%;
    border-left: 1px solid #95d4cc;
    padding-left: 5%;
}

.login-button {
    float: right;
    margin-right: 5%;
    width: 135px;
}

.btn-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #777;
    margin-right: 8px;
}

.list-icon {
    font-size: 16px;
    vertical-align: middle;
    color: #777;
}

.sheet-table th {
    text-align: center;
}

.sheet-table td {
    text-align: center;
    padding: 10px;
    width: 100px;
}

.sheet-table td:last-child {
    text-align: left;
    width: 750px;
}